@font-face {
    font-family: "flaticon";
    src: url("flaticon_2db7b555443fe323de9d3af8428b51c7.ttf.html") format("truetype"),
url("flaticon_2db7b555443fe323de9d3af8428b51c7.woff.html") format("woff"),
url("flaticon_2db7b555443fe323de9d3af8428b51c7.woff2.html") format("woff2"),
url("flaticon_2db7b555443fe323de9d3af8428b51c7.eot.html#iefix") format("embedded-opentype"),
url("flaticon_2db7b555443fe323de9d3af8428b51c7.svg.html#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-next:before {
    content: "\f101";
}
.flaticon-right-arrow:before {
    content: "\f102";
}
